<div class="card-wrapp">
  <h1 class="title align-center">Want to surprise your friend before got married?</h1>
  <div class="describe">
    <p class="align-center">See in our application all possibilities for celebration</p>
    <p class="align-center">With us your party will be like 
      <a href="https://en.wikipedia.org/wiki/The_Hangover" target="_blank">"The Hangover"</a>
    </p>
  </div>
  <div class="links">
    <div class="stores">
      <a href="">
        <img src="../assets/imgs/mobile app store.png" alt="">
      </a>
      <a href="">
        <img src="../assets/imgs/mobile google play.png" alt="">
      </a>
    </div>
    <div class="qr-code">
      <img src="../assets/imgs/frame.png" alt="">
    </div>
  </div>
</div>

